QDialog#LoginClass, #RegisterClass{
background-color:rgb(255,255,255)
}

#user_label, #pwd_label{
	color: black;
}

#err_tip[state='normal']{
	color: green;
}

#err_tip[state='err']{
	color: red;
}

#pwd_visible[state='unvisible']{
   border-image: url(:/image/resource/unvisible.png);
}

#pwd_visible[state='unvisible_hover']{
   border-image: url(:/image/resource/unvisible_hover.png);
}

#pwd_visible[state='visible']{
   border-image: url(:/image/resource/visible.png);
}

#pwd_visible[state='visible_hover']{
   border-image: url(:/image/resource/visible_hover.png);
}

#again_visible[state='unvisible']{
   border-image: url(:/image/resource/unvisible.png);
}

#again_visible[state='unvisible_hover']{
   border-image: url(:/image/resource/unvisible_hover.png);
}

#again_visible[state='visible']{
   border-image: url(:/image/resource/visible.png);
}

#again_visible[state='visible_hover']{
   border-image: url(:/image/resource/visible_hover.png);
}

#forget_label[state='normal'],#forget_label[state='selected']{
    color:black;
}

#forget_label[state='hover'], #forget_label[state='selected_hover']{
    color: rgb(42, 112, 241);
}

#side_bar{
  background-color:rgb(46,46,46);
}

#add_Button[state='normal']{
    border-image: url(:/image/resource/add_friend_normal.png);
}

#add_Button[state='hover']{
    border-image: url(:/image/resource/add_friend_hover.png);

}

#add_Button[state='press']{
    border-image: url(:/image/resource/add_friend_hover.png);
}

#search_bar{
     background-color:rgb(247,247,247);  /* 属性：设置背景颜色为 RGB(247,247,247) 的浅灰色 */
}

#search_lineEdit {
    border: 2px solid #f1f1f1;  /* 边框：宽度 2px，实线样式，颜色 #f1f1f1，即浅灰色 */
}

#chat_list{
    background-color:rgb(0,0,0);
}

#chat_user_list {
    background-color: rgb(247,247,248);
    border: none;
}

#chat_user_list::item:selected {
    background-color: #d3d7d4;
    border: none; /* 移除控件的边框，即无边框 */
    outline: none;  /* 移除控件的轮廓线 */
}

#chat_user_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#chat_user_list::focus {
    border: none;
    outline: none;
}

ChatUserWid {
    background-color:rgb(247,247,247);
    border: none;
}

#user_chat_label{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#user_name_label{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
#time_widget #time_label{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}

QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}

QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}

LoadingDialog{
    background: #f2eada;
}

#title_label{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}

#chat_textEdit{
    background: #ffffff;
    border: none; /* 隐藏边框 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    font-size: 18px; /* 设置字体大小 */
    padding: 5px; /* 设置内边距 */
}

#send_wid{
    background: #ffffff;
    border: none; /* 隐藏边框 */
}

#add_Button[state='normal']{
    border-image: url(:/image/resource/add_friend_normal.png);
}

#add_Button[state='hover']{
    border-image: url(:/image/resource/add_friend_hover.png);

}

#add_Button[state='press']{
    border-image: url(:/image/resource/add_friend_hover.png);
}

#receive_Button[state='normal']{
   background: #f0f0f0;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#receive_Button[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#receive_Button[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='normal']{
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#tool_bar{
    background: #ffffff;
    border-bottom: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}

#emote_label[state='normal']{
    border-image: url(:/image/resource/smile.png);
}

#emote_label[state='hover']{
    border-image: url(:/image/resource/smile_hover.png);
}

#emote_label[state='press']{
    border-image: url(:/image/resource/smile_press.png);
}

#file_label[state='normal']{
    border-image: url(:/image/resource/filedir.png);
}

#file_label[state='hover']{
    border-image: url(:/image/resource/filedir_hover.png);
}

#file_label[state='press']{
    border-image: url(:/image/resource/filedir_press.png);
}

#chat_data_list{
     background: #f0f0f0;
}

#chat_background{
    background: #f0f0f0;
}

#chat_area{
    border: none;
}

#chat_user_name{
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#side_chat_label[state='normal']{
    border-image: url(:/image/resource/chat_icon.png);
}

#side_chat_label[state='hover']{
    border-image: url(:/image/resource/chat_icon_hover.png);
}

#side_chat_label[state='pressed']{
    border-image: url(:/image/resource/chat_icon_press.png);
}

#side_chat_label[state='selected_normal']{
    border-image: url(:/image/resource/chat_icon_press.png);
}

#side_chat_label[state='selected_hover']{
    border-image: url(:/image/resource/chat_icon_press.png);
}

#side_chat_label[state='selected_pressed']{
    border-image: url(:/image/resource/chat_icon_press.png);
}

#side_contact_label[state='normal']{
    border-image: url(:/image/resource/contact_list.png);
}

#side_contact_label[state='hover']{
    border-image: url(:/image/resource/contact_list_hover.png);
}

#side_contact_label[state='pressed']{
    border-image: url(:/image/resource/contact_list_press.png);
}

#side_contact_label[state='selected_normal']{
    border-image: url(:/image/resource/contact_list_press.png);
}

#side_contact_label[state='selected_hover']{
    border-image: url(:/image/resource/contact_list_press.png);
}

#side_contact_label[state='selected_pressed']{
    border-image: url(:/image/resource/contact_list_press.png);
}

#search_lineEdit {
    border: 2px solid #f1f1f1;
}

/* 搜索框列表*/
#search_list {
    background-color: rgb(247,247,248);
    border: none;
}
#search_list::item:selected {
    background-color: #d3d7d4;
    border: none;
    outline: none;
}

#search_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#search_list::focus {
    border: none;
    outline: none;
}

#invalid_item {
    background-color: #eaeaea;
    border: none;
}

#add_tip {
    border-image: url(:/image/resource/addtip.png);
}

#right_tip{
 border-image: url(:/image/resource/right_tip.png);
}

#message_tip{
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 12pt;
}

#FindSuccessDialog{
   background-color: #ffffff;
}

#name_label{
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#add_friend_Button[state='normal']{
    background: #07c160;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#add_friend_Button[state='hover']{
    background: #3bbb4b;
    color: #ffffff;
    font-size: 14px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#add_friend_Button[state='press']{
   background: #07c160;
   color: #ffffff;
   font-size: 14px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#ApplyFriend{
    border: 2px solid #f1f1f1;
    font-size: 14px;
    background: #f7f7f8;
}

#scrollArea{
    background: #f7f7f8;
    border: none;
}

#scrollContents{
     background: #f7f7f8;
}

#scrollContents #apply_label{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
}

#apply_wid QLabel{
    color:rgb(140,140,140);
    font-size: 14px;
    font-family: "Microsoft YaHei";
    height: 25px;
}

#apply_wid #apply_lineEdit, #apply_wid #remark_lineEdit{
    border: 1px solid #f7f7f8;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#apply_wid #label_lineEdit {
       border: none;
       font-size: 14px;
       font-family: "Microsoft YaHei";
}

#apply_wid #more_label {
    border-image: url(:/image/resource/arowdown.png);
}

#apply_wid #tipslb[state='normal'] {     /*tipslb是label_list_wid的别名，applyfriend的showmorelabel函数代码里面声明的*/
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#apply_wid #tipslb[state='hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#apply_wid #tipslb[state='pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_normal'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_hover'] {
    padding: 2px;
    background: #e1e1e1;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tipslb[state='selected_pressed'] {
    padding: 2px;
    background: #e1e1e1;
    color: #1e1e1e;
    border-radius: 10px;
}

#input_tip_wid {
    background: #d3eaf8;
}

#apply_wid #FriendLabel {
    background: #daf6e7;
    color: #48bf56;
    border-radius: 10px;
}

#apply_wid #tip_label {
    padding-left: 2px;
    color:rgb(153,153,153);
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

#grid_wid {
   background: #fdfdfd;
}

#close_label[state='normal'] {
    border-image: url(:/res/tipclose.png);
}

#close_label[state='hover'] {
    border-image: url(:/image/resource/tipclose.png);
}

#close_label[state='pressed'] {
    border-image: url(:/image/resource/tipclose.png);
}

#close_label[state='select_normal'] {
    border-image: url(:/image/resource/tipclose.png);
}

#close_label[state='select_hover'] {
    border-image: url(:/image/resource/tipclose.png);
}

#close_label[state='select_pressed'] {
    border-image: url(:/image/resource/tipclose.png);
}

#apply_sure_wid #sure_Button[state='normal']  {
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#apply_sure_wid #sure_Button[state='hover'] {
    background: #d2d2d2;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#apply_sure_wid #sure_Button[state='press'] {
    background: #c6c6c6;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#apply_sure_wid #cancel_Button[state='normal']  {
    background: #f0f0f0;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#apply_sure_wid #cancel_Button[state='hover'] {
    background: #d2d2d2;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#apply_sure_wid #cancel_Button[state='press'] {
    background: #c6c6c6;
    color: #2e2f30;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}
