QDialog#LoginClass, #RegisterClass{
background-color:rgb(255,255,255)
}

#user_label, #pwd_label{
	color: black;
}

#err_tip[state='normal']{
	color: green;
}

#err_tip[state='err']{
	color: red;
}

#pwd_visible[state='unvisible']{
   border-image: url(:/image/resource/unvisible.png);
}

#pwd_visible[state='unvisible_hover']{
   border-image: url(:/image/resource/unvisible_hover.png);
}

#pwd_visible[state='visible']{
   border-image: url(:/image/resource/visible.png);
}

#pwd_visible[state='visible_hover']{
   border-image: url(:/image/resource/visible_hover.png);
}

#again_visible[state='unvisible']{
   border-image: url(:/image/resource/unvisible.png);
}

#again_visible[state='unvisible_hover']{
   border-image: url(:/image/resource/unvisible_hover.png);
}

#again_visible[state='visible']{
   border-image: url(:/image/resource/visible.png);
}

#again_visible[state='visible_hover']{
   border-image: url(:/image/resource/visible_hover.png);
}

#forget_label[state='normal'],#forget_label[state='selected']{
    color:black;
}

#forget_label[state='hover'], #forget_label[state='selected_hover']{
    color: rgb(42, 112, 241);
}

#side_bar{
  background-color:rgb(46,46,46);
}

#add_Button[state='normal']{
    border-image: url(:/image/resource/add_friend_normal.png);
}

#add_Button[state='hover']{
    border-image: url(:/image/resource/add_friend_hover.png);

}

#add_Button[state='press']{
    border-image: url(:/image/resource/add_friend_hover.png);
}

#search_bar{
     background-color:rgb(247,247,247);  /* 属性：设置背景颜色为 RGB(247,247,247) 的浅灰色 */
}

#search_lineEdit {
    border: 2px solid #f1f1f1;  /* 边框：宽度 2px，实线样式，颜色 #f1f1f1，即浅灰色 */
}

#chat_list{
    background-color:rgb(0,0,0);
}

#chat_user_list {
    background-color: rgb(247,247,248);
    border: none;
}

#chat_user_list::item:selected {
    background-color: #d3d7d4;
    border: none; /* 移除控件的边框，即无边框 */
    outline: none;  /* 移除控件的轮廓线 */
}

#chat_user_list::item:hover {
    background-color: rgb(206,207,208);
    border: none;
    outline: none;
}

#chat_user_list::focus {
    border: none;
    outline: none;
}

ChatUserWid {
    background-color:rgb(247,247,247);
    border: none;
}

#user_chat_label{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
#user_name_label{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}
#time_widget #time_label{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}

QScrollBar:vertical {
    background: transparent; /* 将轨道背景设置为透明 */
    width: 8px; /* 滚动条宽度，根据需要调整 */
    margin: 0px; /* 移除滚动条与滑块之间的间距 */
}

QScrollBar::handle:vertical {
    background: rgb(173,170,169); /* 滑块颜色 */
    min-height: 10px; /* 滑块最小高度，根据需要调整 */
    border-radius: 4px; /* 滑块边缘圆角，调整以形成椭圆形状 */
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px; /* 移除上下按钮 */
    border: none; /* 移除边框 */
    background: transparent; /* 背景透明 */
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none; /* 页面滚动部分背景透明 */
}

LoadingDialog{
    background: #f2eada;
}

#title_label{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: normal;
}

#chat_textEdit{
    background: #ffffff;
    border: none; /* 隐藏边框 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    font-size: 18px; /* 设置字体大小 */
    padding: 5px; /* 设置内边距 */
}

#send_wid{
    background: #ffffff;
    border: none; /* 隐藏边框 */
}

#add_Button[state='normal']{
    border-image: url(:/image/resource/add_friend_normal.png);
}

#add_Button[state='hover']{
    border-image: url(:/image/resource/add_friend_hover.png);

}

#add_Button[state='press']{
    border-image: url(:/image/resource/add_friend_hover.png);
}

#receive_Button[state='normal']{
   background: #f0f0f0;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#receive_Button[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#receive_Button[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='normal']{
    background: #f0f0f0;
    color: #2cb46e;
    font-size: 16px; /* 设置字体大小 */
    font-family: "Microsoft YaHei"; /* 设置字体 */
    border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='hover']{
   background: #d2d2d2;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#send_Button[state='press']{
   background: #c6c6c6;
   color: #2cb46e;
   font-size: 16px; /* 设置字体大小 */
   font-family: "Microsoft YaHei"; /* 设置字体 */
   border-radius: 20px; /* 设置圆角 */
}

#tool_bar{
    background: #ffffff;
    border-bottom: 0.5px solid #ececec; /* 设置下边框颜色和宽度 */
}

#emote_label[state='normal']{
    border-image: url(:/image/resource/smile.png);
}

#emote_label[state='hover']{
    border-image: url(:/image/resource/smile_hover.png);
}

#emote_label[state='press']{
    border-image: url(:/image/resource/smile_press.png);
}

#file_label[state='normal']{
    border-image: url(:/image/resource/filedir.png);
}

#file_label[state='hover']{
    border-image: url(:/image/resource/filedir_hover.png);
}

#file_label[state='press']{
    border-image: url(:/image/resource/filedir_press.png);
}

#chat_data_list{
     background: #f0f0f0;
}

#chat_background{
    background: #f0f0f0;
}

#chat_area{
    border: none;
}